<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BeemTool</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 border-bottom shadow-sm">

    <h5 class="my-0 mr-md-auto font-weight-normal">
        <span style="vertical-align: middle">
            <strong>
                <a href="http://www.steembeem.com/" target="_blank"> BeemTool </a>
            </strong>
        </span>
    </h5>

    <nav class="my-2 my-md-0 mr-md-3">

    </nav>

    <a class="btn btn-outline-primary" href="https://steemit.com/@steembeem" style="vertical-align: middle" target="_blank"><b>Follow Me</b>
        <img width="20" src="/icons/steem.png" style="vertical-align: middle">
    </a>

</div>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-6"><strong>SteemBeem Tool</strong></h1>
</div>

<br>

<div class="container">
    <div class="card-deck form-pay">
        <div class="card mb-4 shadow-sm">
            <div class="card-header p-2">
                <img style="vertical-align: middle" src="/icons/steem.png" height="32">
            </div>
            <div class="card-body">
				<div class="form-label-group">
					Last Instance Stats:<br><br>
					<input type="text" id="inputAccount" class="form-control" placeholder="@SteemAccount" required autofocus>
				</div>
				<ul class="list-unstyled mt-3 mb-4">
					<li><b>Sent Memos:</b></li>
					<% let i = 0; %>
					<%for (let user in users){%>
						<% i++ %>
						<li>[<%=i%>] <%=user%></li>    
					<%}%>
				</ul>
            </div>
        </div>
    </div>
</div>

<footer class="footer p-1">
    <div class="container">
        <span class="text-muted">&copy;  SteemBeem / Tools </span>
    </div>
</footer>
</body>
</html>
